.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: wheat
}

 .login-form {
  display: inline-grid;
  padding: 3rem;
  flex-direction: row;
background:linear-gradient(564deg, rgb(255 218 28), rgb(141 244 84), rgb(46, 196, 182));
}
.register-form {
  display: inline-grid;
  padding: 2rem;
  flex-direction: row;
background:linear-gradient(564deg, rgb(255 218 28), rgb(141 244 84), rgb(46, 196, 182));
}
@media screen and (min-width: 600px) {
  .component {
    display: inline-grid;
    flex-direction: row;
  background:linear-gradient(564deg, rgb(255 218 28), rgb(141 244 84), rgb(46, 196, 182));
  padding: 2rem;
  
  border: 300px solid white;
    border-radius: 348px;
    margin-top: -8rem;
    margin-left: 10rem;
    margin-right: 50rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}